/* Navbar */
.header-navbar {
  background-color: #001d33; /* Arka plan rengi */
}

.header-navbar .navbar-brand {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff !important;
}

.header-navbar .navbar-brand:hover {
  color: #ffffff !important;
}

.header-navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-right: 1rem;
}

.header-navbar .navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

.header-navbar .navbar-nav .nav-link.active {
  color: #8f00ff;
}

.header-navbar .header-button {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.header-navbar .header-button:hover {
  background-color: #8f00ff;
  border-color: #8f00ff;
}